@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Sans&display=swap");
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header p {
  margin: 0 0 13px 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
}
header article {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 500px) {
  header p {
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
  }
  header article {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }
}

.step-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.step-block .step-container {
  width: 100%;
  min-width: 343px;
  max-width: 407px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 6px;
}
.step-block .step-container--title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: #A90003;
}
.step-block .step-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
@media (min-width: 500px) {
  .step-block .step-container--title {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
  }
  .step-block .step-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
}

.documents-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
}
.documents-block .document-container {
  margin-bottom: 20px;
  background: #CCCCCC;
  border-radius: 6px;
}
.documents-block .document-container div {
  display: flex;
  flex-direction: column;
}
.documents-block .document-container--check1 {
  width: 344px;
  height: 268px;
}
.documents-block .document-container--check2 {
  width: 343px;
  height: 416px;
}
.documents-block .document-container--talon {
  width: 343px;
  height: 199px;
}
.documents-block .document-container--faktura {
  width: 343px;
  height: 457px;
}
@media (min-width: 888px) {
  .documents-block .document-container--check1 {
    width: 254px;
    height: 198px;
  }
  .documents-block .document-container--check2 {
    width: 254px;
    height: 308px;
  }
  .documents-block .document-container--talon {
    width: 254px;
    height: 147px;
  }
  .documents-block .document-container--faktura {
    width: 523px;
    height: 697px;
  }
}

body {
  background-color: #F3F3F3;
  padding-top: 80px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  height: 100%;
  margin: auto;
  padding: 0 16px;
}
.wrapper--subtitle {
  margin-top: 55px;
  margin-bottom: 29px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}
@media (min-width: 500px) {
  .wrapper {
    padding: 0 101px;
  }
  .wrapper--subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
  }
}

.text-block {
  margin-top: 36px;
  margin-bottom: 36px;
}
.text-block p {
  margin: 0 0 7px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-indent: -20px;
  padding-left: 20px;
}
@media (min-width: 500px) {
  .text-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }
}

.requisites--title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.requisites--text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 500px) {
  .requisites--title, .requisites--text {
    font-size: 18px;
    line-height: 27px;
  }
}

/*# sourceMappingURL=app.css.map */
