
header {

  display: flex;
  justify-content: center;

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
  }
}

article {
  display: flex;
  justify-content: center;
  margin: auto;
}