@import '../mixins';

header {
  display: flex;
  flex-direction: column;
  justify-content: center;


  p {
    margin: 0 0 13px 0;

    @include text(26px, 600, 35px);

    text-align: center;

    text-transform: uppercase;
  }

  article {
    display: flex;
    justify-content: center;
    margin: auto;

    width: 80%;

    text-align: center;

    @include text(16px, 400, 22px);
  }

  @media (min-width: 500px) {

    p {
      @include text(30px, 600, 41px);
    }
    article {
      @include text(18px, 400, 36px);
    }
  }
}
